CompileFlags:
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4               # 根据你的 MCU
    - -mthumb
    - -IC:\\DevTools\\Arm-GNU-Toolchian\\arm-none-eabi\\include
    - -IC:\\DevTools\\Arm-GNU-Toolchian\\arm-none-eabi\\include\\c++\\11.2.1
    - -IC:\\DevTools\\Arm-GNU-Toolchian\\arm-none-eabi\\include\\c++\\11.2.1\\arm-none-eabi
    # - -std=gnu11  # 或 c++17
  Remove:
    "-mthumb-interwork"

Diagnostics:
  Suppress:
    - unused-includes
    - unknown_typename
    - unknown_typename_suggest
    - typename_requires_specqual
